<html>
<head>
    <link rel="icon" href="data:image/ico;base64,aWNv">
    <title>swoole chatroom</title>
    <meta charset="UTF-8">
    <script type="text/javascript">
        if (!localStorage.getItem('chat_room_name')) {
            window.location.href = "http://" + location.host + "/ws/login";
        }
        var wsServer = 'ws://' + location.host+'?token=12456';
        var exampleSocket = new WebSocket(wsServer);
        exampleSocket.onopen = function (evt) {
            console.log("Connected to WebSocket server.");
        };
        exampleSocket.onmessage = function (evt) {
            console.log(evt.data);
            document.getElementById('aaaa').innerHTML += "<li>" + evt.data + "</li>"
        };
        exampleSocket.onclose = function (evt) {
            console.log("Disconnected");
        };
        exampleSocket.onerror = function (evt, e) {
            console.log('Error occured: ' + evt.data);
        };

        function send(value) {
            if (!value.replace(/(^\s*)|(\s*$)/g, "")) {
                alert('empty');
                return;
            }
            exampleSocket.send(localStorage.getItem('chat_room_name') + ":" + value);
        }

        function logout() {
            localStorage.removeItem('chat_room_name');
            window.location.href = "http://" + location.host + "/ws/login";
        }
    </script>
</head>
<body>
<input type="text" id="content" title="content">
<button onclick="send( document.getElementById('content').value )">发送</button><button onclick="logout()">登出</button>
<ul id="aaaa">
</ul>

</body>
</html>
