<html>
<head>
    <link rel="icon" href="data:image/ico;base64,aWNv">
    <title>swoole chatroom</title>
    <meta charset="UTF-8">
    <script type="text/javascript">
        if (localStorage.getItem('chat_room_name')) {
            window.location.href = "http://" + location.host + "/ws/index";
        }

        function send(value) {
            if (!value.replace(/(^\s*)|(\s*$)/g, "")) {
                alert('empty');
                return;
            }
            localStorage.setItem('chat_room_name', value);
            window.location.href = "http://" + location.host + "/ws/index";
        }
    </script>
</head>
<body>
<input type="text" id="content" title="content" placeholder="name">
<button onclick="send( document.getElementById('content').value )">go</button>
</body>
</html>
